<div class="moderation-actions">
  @let isLoading = loading();
  @let isDisabled = disabled() || isLoading;

  <button
    mat-flat-button
    color="primary"
    type="button"
    class="moderation-actions__approve"
    [disabled]="isDisabled"
    (click)="approve.emit()"
  >
    @if (isLoading) {
      <mat-progress-spinner
        class="moderation-actions__spinner"
        mode="indeterminate"
        diameter="18"
      />
    } @else {
      <span class="material-symbols-outlined moderation-actions__icon" aria-hidden="true">
        check_circle
      </span>
    }
    <span class="moderation-actions__text">{{ 'common.approve' | translate }}</span>
  </button>

  <button
    mat-stroked-button
    type="button"
    class="moderation-actions__reject"
    [disabled]="isDisabled"
    (click)="reject.emit()"
  >
    <span class="material-symbols-outlined moderation-actions__icon" aria-hidden="true">
      cancel
    </span>
    <span class="moderation-actions__text">{{ 'common.reject' | translate }}</span>
  </button>
</div>
