<section class="not-found-page">
  <div class="not-found-page__content">
    <p class="not-found-page__badge">{{ 'notFound.badge' | translate }}</p>

    <h1 #heading class="not-found-page__title" tabindex="-1">{{ 'notFound.title' | translate }}</h1>

    <p class="not-found-page__text">
      {{ 'notFound.description' | translate }}
    </p>

    <a class="not-found-page__action" routerLink="/posts">
      <span class="material-symbols-outlined">arrow_back</span>
      {{ 'notFound.action' | translate }}
    </a>
  </div>
</section>
