<div class="posts-filters">
  @let selectedViewMode = viewMode();

  <div class="posts-filters__search">
    <span class="posts-filters__search-leading" aria-hidden="true">
      @if (filtering()) {
        <mat-progress-spinner
          class="posts-filters__search-spinner"
          mode="indeterminate"
          diameter="18"
        />
      } @else {
        <span class="material-symbols-outlined posts-filters__search-icon">search</span>
      }
    </span>
    <input
      class="posts-filters__search-input"
      type="search"
      [placeholder]="'posts.filters.searchPlaceholder' | translate"
      [formControl]="searchControl"
      [attr.aria-label]="'posts.filters.searchAria' | translate"
    />
  </div>

  <div class="posts-filters__sort">
    <span class="posts-filters__sort-label">{{ 'posts.filters.sortLabel' | translate }}</span>
    <div class="posts-filters__sort-control">
      <select
        class="posts-filters__sort-select"
        [formControl]="sortControl"
        [attr.aria-label]="'posts.filters.sortAria' | translate"
      >
        <option value="desc">{{ 'posts.filters.sortNewest' | translate }}</option>
        <option value="asc">{{ 'posts.filters.sortOldest' | translate }}</option>
      </select>
      <span class="material-symbols-outlined posts-filters__sort-icon" aria-hidden="true">
        expand_more
      </span>
    </div>
  </div>

  <div
    class="posts-filters__view-mode"
    role="group"
    [attr.aria-label]="'posts.filters.viewModeAria' | translate"
  >
    <span class="posts-filters__view-mode-label">{{ 'posts.filters.viewModeLabel' | translate }}</span>
    <div class="posts-filters__view-mode-options">
      <button
        type="button"
        class="posts-filters__view-mode-option"
        [class.posts-filters__view-mode-option--active]="selectedViewMode === 'pagination'"
        [attr.aria-pressed]="selectedViewMode === 'pagination'"
        (click)="selectViewMode('pagination')"
      >
        <span class="material-symbols-outlined posts-filters__view-mode-icon" aria-hidden="true">
          view_list
        </span>
        {{ 'posts.filters.pagination' | translate }}
      </button>
      <button
        type="button"
        class="posts-filters__view-mode-option"
        [class.posts-filters__view-mode-option--active]="selectedViewMode === 'infinite-scroll'"
        [attr.aria-pressed]="selectedViewMode === 'infinite-scroll'"
        (click)="selectViewMode('infinite-scroll')"
      >
        <span class="material-symbols-outlined posts-filters__view-mode-icon" aria-hidden="true">
          unfold_more
        </span>
        {{ 'posts.filters.infiniteScroll' | translate }}
      </button>
    </div>
  </div>
</div>
